#wrapper {
   /* border: 1px solid black;*/
    width: 100%;
    
}
#header {
    border: 1px solid black;
    background-color: #202846;
}
.photoone {
    width: 130px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 150px;
}
#menu ul {
    list-style-type: none;
    margin-left: 400px;
}
#menu li {
    display: inline;
    margin-left: 70px
}
#menu a {
    text-decoration: none;
    color: white;
}
.phototwo {
    width:50px;
    height: 50px;
    position: relative;
    left: 1250px;
    bottom: 50px;
}
.photow {
    width:25px;
    height: 20px;
    position: relative;
    left: 1250px;
    bottom: 55px;
}
/*content*/
#bild {
    border: 1px solid #C6C6DC;
    background-color: #C6C6DC;
}
#bild p {
    font-size: 25px;
    padding-left: 200px;
    font-style: italic;
}
.Location {
    border: 1px solid #E8E8E8;
    background-color: #E8E8E8;
    width: 1300px;
    margin: auto;
    margin-top: 40px;
}
.Location p {
    text-align: center;
    position: relative;
    top: 15px;
}
.Location img {
    position: relative;
    left: 900px ;
    bottom: 20px;
    width: 20px;
    height: 20px;
}
/*місце розташування 1*/
#Xmelnitsk {
    border: 1px solid  #BDBDC6;
    background-color:  #BDBDC6;
    height: 350px;
    width: 1300px;
    margin: auto;
    margin-top: 40px;
}
#Xmelnitsk  img {
    padding: 20px 50px;
    width: 450px;
    position: relative;
    top: 40px;
}
.kray {
    position: relative;
    color: #353C57;
    left: 600px;
    bottom: 335px;
    font-size: 20px;
    border-bottom:1px solid #FFFFFF;
    width: 500px;
    font-weight: bold;
}
#BACKOTA {
    border: 1px solid #D7D7DD;
    background-color: #D7D7DD;
    width: 460px;
    height: 120px;
    text-align: center;
    position: relative;
    left: 600px;
    bottom: 315px;
    padding-top: 40px;
}
#detalnishe {
    border: 1px solid #202846;
    background-color: #202846;
    position: relative;
    left: 1200px;
    border-radius: 40px;
    width: 130px;
    height: 40px;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;

}
.star svg {
    position: relative;
    left: 1200px;
    bottom: 300px;
}
#Xmelnitsk:hover {
    border: 1px solid #AEAEE2;
    background-color: #AEAEE2;
}
#Xmelnitsk:hover #detalnishe {
    border: 1px solid #EF075B;
    background-color: #EF075B;
}
/*місце розташування 2*/

#Karpati {
    border: 1px solid  #BDBDC6;
    background-color:  #BDBDC6;
    height: 350px;
    width: 1300px;
    margin: auto;
    margin-top: 40px;
}
#Karpati  img {
    padding: 20px 50px;
    width: 450px;
    position: relative;
    top: 40px;
}

#Karpati:hover {
    border: 1px solid #AEAEE2;
    background-color: #AEAEE2;
}
#Karpati:hover #detalnishe {
    border: 1px solid #EF075B;
    background-color: #EF075B;
}
/*місце розташування 3*/
#Kyiv {
    border: 1px solid  #BDBDC6;
    background-color:  #BDBDC6;
    height: 350px;
    width: 1300px;
    margin: auto;
    margin-top: 40px;
}
#Kyiv img {
    padding: 20px 50px;
    width: 450px;
    position: relative;
    top: 40px;
}
#Kyiv:hover {
    border: 1px solid #AEAEE2;
    background-color: #AEAEE2;
}
#Kyiv:hover #detalnishe {
    border: 1px solid #EF075B;
    background-color: #EF075B;
}
/*місце розташування 4*/
#Odessa {
    border: 1px solid  #BDBDC6;
    background-color:  #BDBDC6;
    height: 350px;
    width: 1300px;
    margin: auto;
    margin-top: 40px;
}
#Odessa img {
    padding: 20px 50px;
    width: 450px;
    position: relative;
    top: 40px;
}
#Odessa:hover {
    border: 1px solid #AEAEE2;
    background-color: #AEAEE2;
}
#Odessa:hover #detalnishe {
    border: 1px solid #EF075B;
    background-color: #EF075B;
}
 /*особистий кабінет */
 #kabinet {
    border: 1px solid #C6C6DC;
    background-color: #C6C6DC;
    height: 100px;
    margin-top: 100px;
    
}
#kabinet p {
    color: #202846;
    font-size: 25px;
    padding-left: 200px;
    font-style: italic;
}
/*табличка*/
#tabl {
    border: 1px solid #BDBDC6;
    background-color: #BDBDC6;
    position: relative;
    width: 1000px;
    height: 400px;
    left: 190px;
    top: 50px;
}
#tabl img {
    width: 120px;
    height: 110px;
    position: relative;
    left: 150px;
    top: 50px;
}
#tabl .Avatar {
    border: 1px solid #69749B ;
    background-color: #69749B ;
    border-radius: 50px;
    position: relative;
    top: 80px;
    left: 120px;
    width: 145px;
    height: 30px;
    padding-top: 7px;
    padding-left: 40px;
    color: white;
}
#tabl .Avatar:hover {
    border: 1px solid #8792bb ;
    background-color: #8792bb ;
}
#tabl .Set {
    border: 1px solid #484A54;
    background-color: #484A54;
    border-radius: 50px;
    position: relative;
    top: 90px;
    left: 120px;
    width: 145px;
    height: 30px;
    padding-top: 7px;
    padding-left: 40px;
    color: white;
}
#tabl .Set:hover {
    border: 1px solid #5a5a5a ;
    background-color: #5a5a5a ;
}
/*петров іван іванович*/
#tabl .Name {
    color: #353C57;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    border-bottom: 1px solid  white;
    width: 400px;
    padding-bottom: 10px;
    position: relative;
    left: 500px;
    bottom: 150px;
}
#tabl .stati {
    color: #353C57;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    border-bottom: 1px solid  white;
    width: 400px;
    padding-bottom: 10px;
    position: relative;
    left: 500px;
    bottom: 140px;
}
#tabl .birth {
    color: #353C57;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    border-bottom: 1px solid  white;
    width: 400px;
    padding-bottom: 10px;
    position: relative;
    left: 500px;
    bottom: 140px;
}
#tabl .phone {
    color: #353C57;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    border-bottom: 1px solid  white;
    width: 400px;
    padding-bottom: 10px;
    position: relative;
    left: 500px;
    bottom: 130px;
}
#tabl .email {
    color: #353C57;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    border-bottom: 1px solid  white;
    width: 400px;
    padding-bottom: 10px;
    position: relative;
    left: 500px;
    bottom: 130px;
}
/*вийти*/
#tabl .exite {
    border: 1px solid #202846;
    background-color: #202846;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    color: white;
    margin: auto;
    padding-top: 10px;
    padding-left: 40px;
}
/*Контакти*/
#contacts {
    border: 1px solid #C6C6DC;
    background-color: #C6C6DC;
    height: 100px;
    margin-top: 300px;
    
}
#contacts p {
    color: #202846;
    font-size: 25px;
    padding-left: 200px;
    font-style: italic;
}
/*Контакти телефон */
#telone .tel {
    border-bottom: 2px solid #202846;
    width: 170px;
    margin-top: 100px;
    padding-bottom: 5px;
}
#telone p {
    margin-left: 200px;
}
/*Контакти телефон график*/
#grafik .robota {
    border-bottom: 2px solid #202846;
    width: 170px;
    margin-top: 100px;
    padding-bottom: 5px;
}
#grafik p {
    margin-left: 560px;
}
#grafik {
    position: relative;
    bottom: 160px;
}
/*Ел пошта*/
#emailtwo {
    position: relative;
    bottom: 385px;
}
#emailtwo .poshta {
    border-bottom: 2px solid #202846;
    width: 170px;
    margin-top: 100px;
    padding-bottom: 5px;
}
#emailtwo p {
    margin-left: 900px;
}
/*Адреса*/
#Adress {
    position: relative;
    bottom: 250px;
}
#Adress .oficce {
    border-bottom: 2px solid #202846;
    width: 170px;
    padding-bottom: 5px;
}
#Adress p {
    margin-left: 200px; 
}
/*карта*/
#maps iframe {
    border-radius: 20px;
    position: relative;
    left: 650px;
    width: 500px;
    height: 400px;
    bottom: 290px;
}
/*футер*/
#footer {
    border: 1px solid #202846;
    background-color: #202846;
}
#footer p {
    color: white;
    padding-left: 200px;

}