/*header*/
body {
    background-color:#212529;
    margin: 0;

}
#header img {
    position: absolute;
    top: 2.5em;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40% ;
    position: relative;
    left: 20%;
    top: 3em;
}
.menu a {
    text-decoration: none;
    color: white;
}
.hire-me {
    border: 1px solid #FFB742;
    background-color: #FFB742;
    width: 7em;
    border-radius: 4em;
    position: relative;
    left: 90%;
}
.hire-me p {
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.menu a:hover {
    color: #FFB742;
}
/*text hi i am */
#text .Bansal {
    color: white;
    position: relative;
    left: 40%;
    top: 1.4em;
    font-size: 1.5em;
}
#text .front-end {
    color: white;
    position: relative;
    left: 22%;
    font-weight: bold;
    font-size: 3em;
}
#text .code {
    color: white;
    position: relative;
    left: 30%;
    font-size: 1.5em;
}
#text span {
    color: #FFB742;
    border-bottom: 1px solid #FFB742;
}
#text img {
    position: relative;
    left: 43%;
}
/*contayner1*/
#conteyner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#conteyner .cont-one {
    border: 1px solid #292B2E;
    background-color: #292B2E;
    width: 25%;
    border-radius: 10px;
    margin-left: 3%;
    margin-top: 5%;
}
.cont-one img {
    position: relative;
    left: 4%;
    top: 2.5em;
}
.years span {
    color: #FFB742;
    position: absolute;
    left: 1.8em;
    bottom: 2.2em;
    font-size: 1.6em;
}
.years  {
    color: white;
    position: relative;
    left: 7em ;
}
.cont-one:hover{
    background:linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);;
}

/*contayner2*/
#conteyner .cont-two {
    border: 1px solid #292B2E;
    background-color: #292B2E;
    width: 25%;
    border-radius: 10px;
    margin-top: 5%;
}
.cont-two img {
    position: relative;
    left: 4%;
    top: 2.5em;
}
.complate span {
    color: #FFB742;
    position: absolute;
    left: 1.4em;
    bottom: 2.2em;
    font-size: 1.6em;
}
.complate {
    color: white;
    position: relative;
    left: 7em ;
}
.cont-two:hover{
    background:linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);;
}
/*contayner3*/
#conteyner .cont-three {
    border: 1px solid #292B2E;
    background-color: #292B2E;
    width: 25%;
    border-radius: 10px;
    margin-right: 5%;
    margin-top: 5%;
}
.cont-three img {
    position: relative;
    left: 4%;
    top: 2.5em;
}
.happy span {
    color: #FFB742;
    position: absolute;
    left: 1em;
    bottom: 2.2em;
    font-size: 1.6em;
}
.happy {
    color: white;
    position: relative;
    left: 8em ;
}
.cont-three:hover{
    background:linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);;
}
/*about me*/
#aboute-me {
    margin-top: 10%;
}
.plam {
    position: absolute;
}
.man {
    position: relative;
}
/*about me-text*/
 .who-i-am {
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.08);
    width: 8%;
    border-radius: 30px;
    text-align: center;
    position: relative;
    bottom: 35em;
    left: 50%;
}
.who-i-am p {
    color:#FFB742;
    font-family: 'Poppins', sans-serif;
} 
.About-Me {
    color: white;
    font-size: 3em;
    position: relative;
    bottom: 11.5em;
    left: 48%;
}
 .Kartik-Bansal {
    color: white;
    position: relative;
    bottom: 35em;
    left: 48%;
    text-align: left;
    width: 40%;
}

/*my scills*/

#what-my .MY-SKILLS  {
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.08);
    width: 8%;
    border-radius: 30px;
    text-align: center;
    position: relative;
    left: 5%;
    bottom: 17em;
}
#what-my .MY-SKILLS p {
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
}
.scills {
    color: white;
    font-size: 2.5em;
    position: relative;
    left: 2em;
    bottom: 6em;
}
.develop {
    color: white;
    width: 40%;
    font-size:0.9em;
    position: relative;
    left: 6em;
    bottom: 17em;
}
.Hire-Me {
    border: 1px solid #FFB742;
    background-color: #FFB742; 
    width: 8%;
    border-radius: 30px;
    text-align: center;
    position: relative;
    left: 5%;
    bottom: 10em;
    font-family: 'Poppins', sans-serif;
}
#boxs {
    position: relative;
    left: 55%;
    bottom: 30em;
    display: flex;
}
.one-box {
    border: 1px solid #383E45;
    background-color: #383E45;
    width: 4%;
    height: 3em;
}
.one-box img {
    padding-left: 14%;
    width: 65%;
    padding-top: 8%;
}
.two-box {
    border: 1px solid #383E45;
    background-color: #383E45;
    width: 4%;
    height: 3em;
    margin-left: 3%;
}
.two-box img {
    padding-left: 14%;
    width: 65%;
    padding-top: 8%;
   
}
.three-box {
    border: 1px solid #383E45;
    background-color: #383E45;
    width: 4%;
    height: 3em;
    margin-left: 3%;
}
.three-box img {
    padding-left: 16%;
    width: 65%;
    padding-top: 8%;
   
}
.four-box {
    border: 1px solid #383E45;
    background-color: #383E45;
    width: 4%;
    height: 3em;
    margin-left: 3%;
}
.four-box img {
    padding-left: 16%;
    width: 65%;
    padding-top: 8%;
}
.fife-box {
    border: 1px solid #383E45;
    background-color: #383E45;
    width: 4%;
    height: 3em;
    margin-left: 3%;
}
.fife-box img {
    padding-left: 16%;
    width: 65%;
    padding-top: 8%;
}
.six-box {
    border: 1px solid #383E45;
    background-color: #383E45;
    width: 4%;
    height: 3em;
    margin-left: 3%;
}
.six-box img {
    padding-left: 16%;
    width: 65%;
    padding-top: 8%;
}
#boxs-two {
    position: relative;
    left: 55%;
    bottom: 27em;
    display: flex;
}
.seven-box {
    border: 1px solid #383E45;
    background-color: #383E45;
    width: 4%;
    height: 3em;
    
}
.seven-box img {
    padding-left: 16%;
    width: 65%;
    padding-top: 14%;
}
.eight-box {
    border: 1px solid #383E45;
    background-color: #383E45;
    width: 4%;
    height: 3em;
    margin-left: 3%;
}
.eight-box img {
    padding-left: 16%;
    width: 65%;
    padding-top: 8%;
}
.nine-box {
    border: 1px solid #383E45;
    background-color: #383E45;
    width: 4%;
    height: 3em;
    margin-left: 3%;
}
.nine-box img {
    padding-left: 16%;
    width: 65%;
    padding-top: 8%;
}
.ten-box {
    border: 1px solid #383E45;
    background-color: #383E45;
    width: 4%;
    height: 3em;
    margin-left: 3%;
}
.ten-box img {
    padding-left: 16%;
    width: 65%;
    padding-top: 8%;
}
.eleven-box {
    border: 1px solid #383E45;
    background-color: #383E45;
    width: 4%;
    height: 3em;
    margin-left: 3%;
}
.eleven-box img {
    padding-left: 25%;
    width: 47%;
    padding-top: 8%;
}
.twelwe-box {
    border: 1px solid #383E45;
    background-color: #383E45;
    width: 4%;
    height: 3em;
    margin-left: 3%;
}
.twelwe-box img {
    padding-left: 16%;
    width: 65%;
    padding-top: 8%;
}
/*MY-WORKS*/
.my-works {
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.08);
    width: 8%;
    border-radius: 30px;
    text-align: center;
    position: relative;
    bottom: 5em;
    left: 45%;
    font-weight: bold;
}
.my-works p {
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
}
.Feature {
    color: white;
    font-size: 3em;
    position: relative;
    left: 40%;
    bottom: 2em;
}
/*menu-two*/
.menu-two {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40% ;
    position: relative;
    left: 30%;
    bottom: 2em;
}
.menu-two a {
    text-decoration: none;
    color: white;
}
.menu-two a:hover {
    color: #FFB742;
}
/*photo*/
.photo-one {
    position: relative;
    top: 5em;
    left: 5em;
}
.photo-two {
    position: relative;
    bottom: 7.5em;
    left: 7em;
}
.photo-three {
    position: relative;
    top: 5em;
    left: 9em;
}
.photo-four {
    position: relative;
    left: 5em;
    bottom: 5.8em;
}
.photo-fife {
    position: relative;
    left: 7em;
    bottom: 6em;
}
.photo-six {
    position: relative;
    left: 9em;
    bottom: 6em;
}
/*testimonials*/
#testimonials {
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.08);
    width: 12%;
    border-radius: 30px;
    text-align: center;
    position: relative;
    left: 45%;
    font-weight: bold;
}
#testimonials p {
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
}
.what {
    color: white;
    font-size: 3em;
    position: relative;
    left: 38%;    
}
/*anket*/
#anket {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lorem {
    border: 1px solid white;
    background-color: white;
    width: 19em;
    padding-left: 2em;
    padding-top: 2em;
    position: relative;
    left: 5em;
    border-radius: 5px;
}
.ipsum {
    width: 70%;
    font-family: 'Poppins', sans-serif;
}
.people {
    position: relative;
    top: 1em;
}
.Khushi {
    font-weight: bold ;
    position: relative;
    left: 6em;
    bottom: 4em;
}
.Designer{
    position: relative;
    left: 6em;
    bottom: 4.3em;
}
.lorem-two  {
    border: 1px solid white;
    background-color: white;
    width: 19em;
    padding-left: 2em;
    padding-top: 2em;
    border-radius: 5px;
}
.ispum-two {
    width: 70%;
    font-family: 'Poppins', sans-serif;
}
.people-two {
    position: relative;
    top: 1em;
}
.Khushi-two {
    font-weight: bold ;
    position: relative;
    left: 6em;
    bottom: 4em;
}
.Designer-two {
    position: relative;
    left: 6em;
    bottom: 4.3em;
}

.lorem-three  {
    border: 1px solid white;
    background-color: white;
    width: 19em;
    position: relative;
    right: 5em;
    padding-left: 2em;
    padding-top: 2em;
    border-radius: 5px;
}
.ispum-three {
    width: 70%;
    font-family: 'Poppins', sans-serif;
}
.people-three {
    position: relative;
    top: 1em;
}
.Khushi-three {
    font-weight: bold ;
    position: relative;
    left: 6em;
    bottom: 4em;
}
.Designer-three {
    position: relative;
    left: 6em;
    bottom: 4.3em;
}

/*footer*/
#footer {
    border: 1px solid #06040196;
    background-color: #06040196;
    margin-top: 14em;
    
}
.Kartik {
    color: #FFB742;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 5%;
}
.Creative {
   color: white; 
   position: relative;
   left: 5%;
}
.Useful {
    color: white;
    font-size: 1.3em;
    position: relative;
    left: 45%;
    bottom: 5.5em;
}
.Home {
    text-decoration: none;
    color: white;
    position: relative;
    left: 47%;
    bottom: 7em;
    color: #383E45;
}
.About {
    text-decoration: none;
    color: white;
    position: relative;
    left: 44%;
    bottom: 5em;
    color: #383E45;  
}
.Skills {
    text-decoration: none;
    color: white;
    position: relative;
    left: 41%;
    bottom: 3em;
    color: #383E45;  
}
.Portfolio {
    text-decoration: none;
    color: white;
    position: relative;
    left: 38.2%;
    bottom: 1em;
    color: #383E45; 
}
.Contact {
    text-decoration: none;
    color: white;
    position: relative;
    left: 34%;
    top: 0.8em;
    color: #383E45;   
}

.Newsletter {
    color: white;
    font-size: 1.3em;
    position: relative;
    left: 80%;
    bottom: 9.3em;
}
.Enter {
    color: white;
    position: relative;
    left:80%;
    bottom: 10em;
    color: #383E45;  
}




