/* header*/
.Stand-Ua {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 0.5em;
    margin-top: 00.5em;
}
.sobor {
    background-image: url("../img/Успенський\ собор\ 1.jpg");
    background-repeat: no-repeat;
    height: 800px;
    text-align: center;
}
    
        #text {
             color: white;
             font-weight: bold;
             font-size: 3em;
             padding-right: 500px;            
             padding-top: 300px;
             
        }
       
      
/* content*/
.plases {
    font-weight: bold;
    font-size: 2em;
    width: 220px;
    border-bottom: 3px solid #33B8F1;
    margin-left: 150px;
}

/* блок 1*/
.park {
    margin-top: 20px;
    display: inline-block;
    border: 1px solid black;
    box-shadow: 0px 0px 10px black;
    border-radius: 25px;
    width: 300px;
    height: 355px;
    margin-left: 145px;
    
}
.Shevchenko {
    width: 300px;
}
.sad {
    font-weight: bold;
    font-size: 25px;
    padding-left: 5px;
   
}
.sad a {
    text-decoration: none;
    color: #33B8F1;
}
.Kharkiv {
    padding-left: 10px;
    line-height: 20px;
    font-size: 20px;
}
/*блок 2*/ 
#park-two {
    display: inline-block;
    border: 1px solid black;
    box-shadow: 0px 0px 10px black;
    border-radius: 25px;
    width: 300px;
    height: 355px;
    margin-left: 145px;
    margin-top: 20px;
    position: absolute;
}
.bulvar {
    width: 300px;
}
.bulvar a {
    text-decoration: none;
    color: black;
}
p.bulvar {
    font-weight: bold;
    font-size: 25px;
    padding-left: 5px;
}
.veja {
    padding-left: 10px;
    font-size: 20px; 
}
/*блок 3*/
#park-three {
    position: absolute;
    display: inline-block;
    border: 1px solid black;
    box-shadow: 0px 0px 10px black;
    border-radius: 25px;
    width: 300px;
    height: 355px;
    margin-left: 591px;
    margin-top: 20px;
}
.naberejna {
    width: 300px;
}
.naberejna a {
    text-decoration: none;
    color: black;
}
 p.naberejna {
    font-weight: bold;
    font-size: 25px;
    padding-left: 5px;
 }
 .vid {
    padding-left: 10px;
    font-size: 20px;
 }
 /*Все буде Україна*/
 #Ukraine {
    text-align: center;
 }
 .cont-vse {
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 150px;
    border-bottom: 3px solid #33B8F1;
    width: 405px;
    margin-left: 500px;
}
/*кнопка*/
.standwithua {
    border: 1px solid #33ADF1;
    background-color:#33ADF1 ;
    width: 200px;
    height: 40px;
    margin-left: 620px;
    padding-top: 20px;
}
.standwithua a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    
}

.footer {
    margin-top: 400px;
    border: 1px solid #0A2DA9;
    background-color: #0A2DA9;
    height: 250px;
}
.footerone {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}
.email a {
    color: #353949;
    text-decoration: none;
    padding-left: 600px;
    font-size: 25px;
}
.email {
    padding-top: 30px;
}

